<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title='Publish a post')"></head>
<body>
<nav th:replace="fragments/common :: navbar"></nav>
<main class="container">
    <header class="page-header">
        <h1>Publish a new post</h1>
    </header>
    <form th:action="@{/posts/publish}" method="POST" th:object="${postInformation}" enctype="multipart/form-data">
        <section th:replace="fragments/posts :: form(label='Publish')"></section>
    </form>
</main>
<span th:replace="fragments/common :: scripts"></span>
</body>
</html>
