<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Posts fragments</title>
</head>
<body>
<section th:fragment="form(action, post, label)">
    <form th:action="${action}" method="POST" th:object="${post}">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" class="form-control" th:field="*{title}" />
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <input id="body" class="form-control" th:field="*{body}" />
            <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />
        </div>
        <input class="btn btn-primary" type="submit" th:attr="value=${label}" />
    </form>
</section>
</body>
</html>
